In [1]:
import pandas as pd
# pd.set_option('display.max_rows',None,'display.max_columns',None)

In [2]:
jp = pd.read_csv('resources/data_scientist_united_states_job_postings_jobspikr.csv')

In [3]:
sl = pd.read_csv('resources/glassdoor.csv')

In [4]:
jp.columns

Index(['crawl_timestamp', 'url', 'job_title', 'category', 'company_name',
       'city', 'state', 'country', 'inferred_city', 'inferred_state',
       'inferred_country', 'post_date', 'job_description', 'job_type',
       'salary_offered', 'job_board', 'geo', 'cursor', 'contact_email',
       'contact_phone_number', 'uniq_id', 'html_job_description'],
      dtype='object')

In [5]:
job_posts = jp[['job_title', 'category', 'company_name', 'inferred_city', 'inferred_state',
       'inferred_country', 'post_date', 'job_description', 'salary_offered' ]].copy(deep=True)
job_posts['job_title'].dropna(inplace=True)
# job_posts.head()

In [6]:
# job_posts.groupby(['company_name']).nunique()

In [7]:
job_posts['job_title'].str.contains("Data").unique()
job_posts.drop(job_posts[job_posts['job_title'].isna()].index, inplace=True)


job_posts.reset_index(inplace=True, drop=True)
job_posts.head()

,job_title,category,company_name,inferred_city,inferred_state,inferred_country,post_date,job_description,salary_offered
0,Enterprise Data Scientist I,Accounting/Finance,Farmers Insurance Group,Woodland hills,California,Usa,2/6/2019,Read what people are saying about working here...,NaN
1,Data Scientist,NaN,Luxoft USA Inc,Middletown,New jersey,Usa,2/5/2019,We have an immediate opening for a Sharp Data ...,NaN
2,Data Scientist,NaN,Cincinnati Bell Technology Solutions,New york,New york,Usa,2/5/2019,Candidates should have the following backgroun...,NaN
3,"Data Scientist, Aladdin Wealth Tech, Associate...",Accounting/Finance,BlackRock,New york,New york,Usa,2/6/2019,Read what people are saying about working here...,NaN
4,Senior Data Scientist,biotech,CyberCoders,Charlotte,North carolina,Usa,2/5/2019,We are seeking an extraordinary Data Scientist...,NaN

In [14]:
# job_posts.groupby(['job_title']).nunique()
job_posts = job_posts[job_posts['job_title'].str.contains("Data Scientist")]

In [16]:
job_posts['job_title'] = "Data Scientist"

In [17]:
job_posts.head()

,job_title,category,company_name,inferred_city,inferred_state,inferred_country,post_date,job_description,salary_offered
0,Data Scientist,Accounting/Finance,Farmers Insurance Group,Woodland hills,California,Usa,2/6/2019,Read what people are saying about working here...,NaN
1,Data Scientist,NaN,Luxoft USA Inc,Middletown,New jersey,Usa,2/5/2019,We have an immediate opening for a Sharp Data ...,NaN
2,Data Scientist,NaN,Cincinnati Bell Technology Solutions,New york,New york,Usa,2/5/2019,Candidates should have the following backgroun...,NaN
3,Data Scientist,Accounting/Finance,BlackRock,New york,New york,Usa,2/6/2019,Read what people are saying about working here...,NaN
4,Data Scientist,biotech,CyberCoders,Charlotte,North carolina,Usa,2/5/2019,We are seeking an extraordinary Data Scientist...,NaN

In [37]:
pd.set_option('display.max_rows',None)
# df = pd.DataFrame(job_posts['company_name'].value_counts())
job_posts['company_name'].dropna(inplace=True)

job_posts['company_name'].isna().sum()

2

In [38]:
job_posts.drop(job_posts[job_posts['company_name'].isna()].index, inplace=True)

In [39]:
job_posts['company_name'].isna().sum()

0

In [42]:
job_posts['company_name'].str.contains('Booz Allen').value_counts()

False    9845
True      155
Name: company_name, dtype: int64