In [1]:
import pandas as pd

In [2]:
glassdoor_file = 'resources/glassdoor.csv'
df = pd.read_csv(glassdoor_file)
drop_col = df.columns
drop_col

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'hourly', 'employer_provided', 'min_salary', 'max_salary', 'avg_salary',
       'company_txt', 'job_state', 'same_state', 'age', 'python_yn', 'R_yn',
       'spark', 'aws', 'excel'],
      dtype='object')

In [3]:
b = ['Job Title', 'Job Description', 'Rating', 'Location', 'Headquarters', 'Size', 'Founded', 'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors', 'hourly', 'employer_provided', 'min_salary', 'max_salary', 'avg_salary', 'company_txt', 'job_state', 'same_state', 'age', 'python_yn', 'R_yn', 'spark', 'aws', 'excel']
df.drop(axis=1, columns=b, inplace=True)
df.head()

               Salary Estimate                                Company Name
0   $53K-$91K (Glassdoor est.)                      Tecolote Research\n3.8
1  $63K-$112K (Glassdoor est.)  University of Maryland Medical System\n3.4
2   $80K-$90K (Glassdoor est.)                                KnowBe4\n4.8
3   $56K-$97K (Glassdoor est.)                                   PNNL\n3.8
4  $86K-$143K (Glassdoor est.)                     Affinity Solutions\n2.9

In [4]:
df['Company Name'].unique

<bound method Series.unique of 0                          Tecolote Research\n3.8
1      University of Maryland Medical System\n3.4
2                                    KnowBe4\n4.8
3                                       PNNL\n3.8
4                         Affinity Solutions\n2.9
                          ...
737                                      GSK\n3.9
738                               Eventbrite\n4.4
739           Software Engineering Institute\n2.6
740                             Numeric, LLC\n3.2
741             Riverside Research Institute\n3.6
Name: Company Name, Length: 742, dtype: object>

In [5]:
df.drop_duplicates(subset=['Company Name'],inplace=True)
df.reset_index(inplace=True, drop=True)
df

,Salary Estimate,Company Name
0,$53K-$91K (Glassdoor est.),Tecolote Research\n3.8
1,$63K-$112K (Glassdoor est.),University of Maryland Medical System\n3.4
2,$80K-$90K (Glassdoor est.),KnowBe4\n4.8
3,$56K-$97K (Glassdoor est.),PNNL\n3.8
4,$86K-$143K (Glassdoor est.),Affinity Solutions\n2.9
...,...,...
338,$79K-$127K (Glassdoor est.),SoftBank Robotics\n3.8
339,Employer Provided Salary:$120K-$140K,SkySync\n5.0
340,$65K-$113K (Glassdoor est.),"DatamanUSA, LLC\n3.4"
341,$59K-$125K (Glassdoor est.),23andMe\n4.0
342,$62K-$113K (Glassdoor est.),Fivestars\n3.9

In [6]:
df1 = df['Company Name'].str.split(pat='\n',expand=True)

In [7]:
df = pd.concat([df, df1],axis=1)
df

,Salary Estimate,Company Name,0,1
0,$53K-$91K (Glassdoor est.),Tecolote Research\n3.8,Tecolote Research,3.8
1,$63K-$112K (Glassdoor est.),University of Maryland Medical System\n3.4,University of Maryland Medical System,3.4
2,$80K-$90K (Glassdoor est.),KnowBe4\n4.8,KnowBe4,4.8
3,$56K-$97K (Glassdoor est.),PNNL\n3.8,PNNL,3.8
4,$86K-$143K (Glassdoor est.),Affinity Solutions\n2.9,Affinity Solutions,2.9
...,...,...,...,...
338,$79K-$127K (Glassdoor est.),SoftBank Robotics\n3.8,SoftBank Robotics,3.8
339,Employer Provided Salary:$120K-$140K,SkySync\n5.0,SkySync,5.0
340,$65K-$113K (Glassdoor est.),"DatamanUSA, LLC\n3.4","DatamanUSA, LLC",3.4
341,$59K-$125K (Glassdoor est.),23andMe\n4.0,23andMe,4.0
342,$62K-$113K (Glassdoor est.),Fivestars\n3.9,Fivestars,3.9

In [8]:
df.drop(axis=1, columns=['Company Name', 1],inplace=True)

In [9]:
df.rename(columns={0:"Company Name"},inplace=True)
df

,Salary Estimate,Company Name
0,$53K-$91K (Glassdoor est.),Tecolote Research
1,$63K-$112K (Glassdoor est.),University of Maryland Medical System
2,$80K-$90K (Glassdoor est.),KnowBe4
3,$56K-$97K (Glassdoor est.),PNNL
4,$86K-$143K (Glassdoor est.),Affinity Solutions
...,...,...
338,$79K-$127K (Glassdoor est.),SoftBank Robotics
339,Employer Provided Salary:$120K-$140K,SkySync
340,$65K-$113K (Glassdoor est.),"DatamanUSA, LLC"
341,$59K-$125K (Glassdoor est.),23andMe
342,$62K-$113K (Glassdoor est.),Fivestars

In [10]:
df2 = df
df1 = df2['Salary Estimate'].str.rstrip('(Glassdoor est.)')
df.drop(axis=1, columns=['Salary Estimate'],inplace=True)
df = pd.concat([df, df1],axis=1)

In [11]:
df.head()

                            Company Name Salary Estimate
0                      Tecolote Research       $53K-$91K
1  University of Maryland Medical System      $63K-$112K
2                                KnowBe4       $80K-$90K
3                                   PNNL       $56K-$97K
4                     Affinity Solutions      $86K-$143K

In [12]:
mask = df['Company Name'].str.contains('LLC').value_counts()

In [13]:
df.drop(mask, inplace=True)

In [14]:
pd.set_option('display.max_rows',None,'display.max_columns',None)

In [15]:
To_remove_lst = [' .LLC', ' INC.', ' LLC', ' ,INC', ' INC', ' Inc.', ', Inc.', ', Inc']

df['Company Name'] = df['Company Name'].str.replace('|'.join(To_remove_lst), '')

To_remove_lst = [' Inc.', ', Inc.', ', Inc', '. Inc']

df['Company Name'] = df['Company Name'].str.replace('|'.join(To_remove_lst), ',')
df['Company Name'] = df['Company Name'].str.upper()

In [16]:
df

,Company Name,Salary Estimate
0,TECOLOTE RESEARCH,$53K-$91K
1,UNIVERSITY OF MARYLAND MEDICAL SYSTEM,$63K-$112K
2,KNOWBE4,$80K-$90K
3,PNNL,$56K-$97K
4,AFFINITY SOLUTIONS,$86K-$143K
5,CYRUSONE,$71K-$119K
6,CLEARONE ADVANTAGE,$54K-$93K
8,ROCHESTER REGIONAL HEALTH,$38K-$84K
9,<INTENT>,$120K-$160K
10,WISH,$126K-$201K
11,MANTECH,$64K-$106K
12,WALMART,$106K-$172K
13,YESLER,$46K-$85K
14,TAKEDA PHARMACEUTICALS,$83K-$144K
15,AUDIBLE,$102K-$190K
16,BLUEPRINT MEDICINES,$67K-$137K
17,H2O.AI,$118K-$189K
18,NUNA,$110K-$175K
19,PINNACOL ASSURANCE,$64K-$111K
20,PORCH,$81K-$130K
21,HEALTH IQ,$73K-$119K
22,TRUCKSTOP.COM,$86K-$139K
23,SMC 3,$63K-$105K
24,NOVETTA,$109K-$177K
25,PFIZER,$63K-$110K
26,FIRST TECH FEDERAL CREDIT UNION,$75K-$124K
27,THE HANOVER INSURANCE GROUP,$34K-$61K
28,AMROCK,$72K-$120K
29,NOVARTIS,$86K-$143K
30,JUNIPER NETWORKS,$93K-$149K
31,NEW ENGLAND BIOLABS,$85K-$140K
32,CLARITY INSIGHTS,$77K-$135K
33,ESRI,$82K-$132K
34,SYSTEMS & TECHNOLOGY RESEARCH,$83K-$137K
35,SARTORIUS,$115K-$180K
36,LANCER INSURANCE,$74K-$138K
37,SAUCE LABS,$64K-$112K
38,PERSIVIA,$68K-$129K
39,EDGEWELL PERSONAL CARE,$52K-$113K
40,EQUITY RESIDENTIAL,$110K-$150K(Employ
41,BPA SERVICES,Employer Provided Salary:$150K-$160K
42,VISA,$158K-$211K
43,INTRADO,$20K-$39K
44,CENTAURI,$56K-$117K
45,CATERPILLAR,$63K-$99K
46,ZIMMERMAN ADVERTISING,$68K-$114K
47,LIBERTY MUTUAL INSURANCE,$86K-$143K
48,TORCH TECHNOLOGIES,$41K-$95K
49,SWISS RE,$86K-$144K
50,NORTHROP GRUMMAN,$80K-$139K
51,NETSKOPE,$120K-$189K
52,1904LABS,$111K-$176K
53,THE DAVID J. JOSEPH COMPANY,$82K-$132K
54,USEREADY,$84K-$146K
55,BILL.COM,$107K-$172K
56,PACIFIC NORTHWEST NATIONAL LABORATORY,$49K-$85K
57,DICK'S SPORTING GOODS - CORPORATE,$61K-$109K
58,BERG HEALTH,$88K-$148K
59,OVERSIGHT SYSTEMS,$60K-$99K
60,C SPACE,$41K-$72K
61,"NUMERIC,",$96K-$161K
62,HP,$65K-$130K
63,SPRINGML,$52K-$81K
64,GRAINGER,$139K-$220K
65,EAG LABORATORIES,$50K-$102K
66,THE BUFFALO GROUP,$85K-$139K
67,CARMEUSE,$74K-$122K
68,GNS HEALTHCARE,$57K-$118K
69,PERATON,$83K-$137K
70,PACTERA,$86K-$141K
71,NURX,$94K-$154K
72,WEBFX.COM,$37K-$76K
73,JOHNS HOPKINS UNIVERSITY APPLIED PHYSICS LABOR...,$100K-$160K
74,PRODUCTIVE EDGE,$55K-$100K
75,EXCELLA CONSULTING,$60K-$114K
76,GENSCO,$39K-$68K
77,GOTRG,$64K-$107K
78,NMR CONSULTING,$31K-$65K
79,ISEATZ,$34K-$62K
80,NEKTAR THERAPEUTICS,$117K-$231K
81,TRANSUNION,$64K-$106K
82,IT CONCEPTS,$79K-$134K
83,SCIENTIFIC RESEARCH CORPORATION,$52K-$93K
84,GENERAL DYNAMICS INFORMATION TECHNOLOGY,$55K-$116K
85,MITRE,$72K-$123K
86,DENTAQUEST,$40K-$73K
87,REDJACK,$102K-$164K
88,7PARK DATA,$89K-$153K
89,RAPID RESPONSE MONITORING,$61K-$110K
90,TRILOGY ED,$65K-$110K
91,GALLUP,$200K-$275K(Employ
92,CAPTECH,$68K-$123K
93,AMERICAN AXLE & MANUFACTURING,$80K-$129K
94,CENTRALREACH,$41K-$72K
95,INTEGRATE,$39K-$71K
96,BOYS TOWN HOSPITAL,$38K-$85K
97,DEMANDBASE,$121K-$193K
98,SAPPHIRE DIGITAL,$54K-$102K
99,FORMATION,$102K-$163K
100,AUTODESK,$76K-$140K
101,BECK'S HYBRIDS,$60K-$101K
102,DRFIRST,$82K-$133K
103,OBJECT PARTNERS,$65K-$125K
104,L.A. CARE HEALTH PLAN,$91K-$148K
105,RED VENTURES,$95K-$173K
106,QUICK BASE,$77K-$124K
107,THE E.W. SCRIPPS COMPANY,$80K-$135K
108,UPSIDE BUSINESS TRAVEL,$85K-$159K
109,SYNAGRO,$43K-$81K
110,ALLIANCE SOURCE TESTING,$29K-$50K
111,ACCURIDE INTERNATIONAL,$82K-$133K
112,FULL POTENTIAL SOLUTIONS,$26K-$55K
113,MAVEN WAVE PARTNERS,$60K-$102K
114,FIRST COMMAND FINANCIAL SERVICES,$64K-$106K
115,PHARMAVITE,$51K-$112K
116,BIOMARIN PHARMACEUTICAL,$113K-$223K
117,STRATAGEM GROUP,$72K-$129K
118,PA CONSULTING,$71K-$123K
119,GRIDIRON IT,Employer Provided Salary:$120K-$145K
120,EVOLVE VACATION RENTAL,$80K-$130K
121,THE CHURCH OF JESUS CHRIST OF LATTER-DAY SAINTS,$59K-$115K
122,MAXIMUS REAL ESTATE PARTNERS,$71K-$136K
123,SOFTWARE ENGINEERING INSTITUTE,$81K-$167K
124,AVANADE,$60K-$114K
125,PATIENTPOINT,$75K-$125K
126,BLUECROSS BLUESHIELD OF TENNESSEE,$77K-$136K
127,KSM CONSULTING,$65K-$148K
128,COGO LABS,$59K-$110K
129,CHURCH & DWIGHT,$85K-$134K
130,MASSMUTUAL,$124K-$204K
131,GENENTECH,$131K-$207K
132,LEGAL & GENERAL AMERICA,$81K-$133K
133,WESTERN DIGITAL,$132K-$211K
134,SUNOVION,$100K-$190K
135,NATIONAL STUDENT CLEARINGHOUSE,$43K-$80K
136,TOWER HEALTH,$17-$24 Per Hou
137,STATE OF WISCONSIN INVESTMENT BOARD,$91K-$149K
138,RUBIUS THERAPEUTICS,$42K-$82K
139,ONEMAGNIFY,$59K-$116K
140,IZEA,$48K-$95K
141,VIONIC GROUP,$31K-$72K
142,DODGE DATA & ANALYTICS,$55K-$100K
143,PLYMOUTH ROCK ASSURANCE,$73K-$124K
144,CA-ONE TECH CLOUD,Employer Provided Salary:$200K-$250K
145,BEEBE HEALTHCARE,$21-$34 Per Hou
146,ARGO GROUP US,$111K-$183K
147,ASSOCIATED ELECTRIC COOPERATIVE,$44K-$78K
148,PENNYMAC,$83K-$166K
149,ZEST AI,$114K-$182K
150,DECISIVE ANALYTICS CORPORATION,$42K-$76K
151,KARYOPHARM THERAPEUTICS,$60K-$123K
152,TEMPUS LABS,$100K-$166K
153,RECURSION PHARMACEUTICALS,$108K-$173K
154,P2 ENERGY SOLUTIONS,$48K-$93K
155,CLEAREDGE,$60K-$127K
156,TAPJOY,$138K-$224K
157,CREDIT SESAME,$190K-$220K(Employ
158,SAN MANUEL CASINO,$35K-$62K
159,TEXAS HEALTH HUGULEY HOSPITAL,$18-$25 Per Hou
160,TEASDALE LATIN FOODS,$39K-$66K
161,CENTRAL CALIFORNIA ALLIANCE FOR HEALTH,$42K-$86K
162,PILOT FLYING J TRAVEL CENTERS,$69K-$127K
163,PALERMO'S PIZZA,$40K-$68K
164,ADVANCED BIOSCIENCE LABORATORIES,$49K-$113K
165,ECHO GLOBAL LOGISTICS,$75K-$140K
166,LOCKHEED MARTIN,$66K-$112K
167,ACUITY INSURANCE,$76K-$125K
168,FAREPORTAL,$44K-$86K
169,"VETERANS AFFAIRS, VETERANS HEALTH ADMINISTRATION",$15-$25 Per Hou
170,CREDERA,$53K-$92K
171,SPECTRUM COMMUNICATIONS AND CONSULTING,$64K-$111K
172,NCSOFT,$65K-$120K
173,DAYTON FREIGHT LINES,$53K-$105K
174,COMMUNITY ACTION PARTNERSHIP OF SAN LUIS OBISPO,$33K-$62K
175,TRUEACCORD,$48K-$90K
176,DRB SYSTEMS,$34K-$64K
177,CORCENTRIC,$42K-$76K
178,U.GROUP,$66K-$111K
179,SYSTEMS EVOLUTION,$91K-$138K
180,EVENTBRITE,$62K-$114K
181,CENTRO,$71K-$129K
182,COMSCORE,$74K-$119K
183,SULLIVANCOTTER,$55K-$97K
184,NPD,$15K-$16K(Employ
185,BAKERY AGENCY,$61K-$106K
186,BLUE CROSS & BLUE SHIELD OF RHODE ISLAND,$74K-$126K
187,BOYS TOWN,$33K-$72K
188,THE HSC HEALTH CARE SYSTEM,$37K-$63K
189,PRO-SPHERE TEK,$67K-$119K
190,AMERITAS LIFE INSURANCE CORP,$72K-$117K
191,GENWORTH,$78K-$126K
192,TRACE DATA,$83K-$133K
193,CLEARWATER ANALYTICS,$45K-$82K
194,"TEKVALLEY, CORP.",$83K-$135K
195,BWX TECHNOLOGIES,$70K-$122K
196,VERMEER,$54K-$101K
197,L&T INFOTECH,$68K-$112K
198,OCEANFIRST FINANCIAL,$42K-$74K
199,SOTHEBY'S,$95K-$161K
200,VANDA PHARMACEUTICALS,$76K-$126K
201,CK-12 FOUNDATION,$130K-$208K
202,OPINION DYNAMICS,$37K-$68K
203,APPLIED INFORMATION SCIENCES,$52K-$99K
204,WK DICKSON,$39K-$82K
205,SOUTHWEST RESEARCH INSTITUTE,$38K-$82K
206,MUSO,Employer Provided Salary:$85K-$90K
207,THE INTEGER GROUP,$84K-$136K
208,SAMBA TV,$127K-$202K
209,SV MICROWAVE,$31K-$57K
210,SUMO LOGIC,$105K-$194K
211,EAB,$45K-$86K
212,BRIGHTHOUSE FINANCIAL,$95K-$154K
213,CITADEL FEDERAL CREDIT UNION,$36K-$62K
214,CALIBRE SYSTEMS,$50K-$92K
215,MOTOROLA SOLUTIONS,$42K-$80K
216,REYNOLDS AMERICAN,$68K-$139K
217,INFOSYS,$54K-$71K
218,ALIGNMENT HEALTHCARE,$65K-$124K
219,CBOE GLOBAL MARKETS,$61K-$113K
220,GUIDEPOINT,$43K-$86K
221,CERUS CORPORATION,$74K-$149K
222,VAIL HEALTH,$24-$39 Per Hou
223,ASTRAZENECA,$102K-$172K
224,MATHWORKS,$108K-$171K
225,METROSTAR SYSTEMS,$76K-$142K
226,AUDENTES THERAPEUTICS,$49K-$97K
227,NATIONAL INTERSTATE,$32K-$59K
228,MOSER CONSULTING,$87K-$158K
229,MCPHAIL ASSOCIATES,Employer Provided Salary:$25-$28 Per Hou
230,CROWN BIOSCIENCE,$43K-$98K
231,HOVER,$45K-$78K
232,Q2 SOLUTIONS,$44K-$96K
233,ARBELLA INSURANCE,$61K-$119K
234,KRONOS BIO,Employer Provided Salary:$100K-$140K
235,ASSOCIATED BANC-CORP,$43K-$77K
236,GENESYS,$78K-$147K
237,MODA OPERANDI,$65K-$110K
238,QK,$38K-$64K
239,SANTANDER,$43K-$82K
240,TIVITY HEALTH,$90K-$110K(Employ
241,BRMI,$61K-$109K
242,LUMINAR TECHNOLOGIES,$93K-$151K
243,EMTEC,$52K-$81K
244,VETERANS UNITED HOME LOANS,$40K-$101K
245,PRAETORIAN,$97K-$180K
246,AGIOS PHARMACEUTICALS,$84K-$157K
247,GLASSDOOR,$121K-$203K
248,ASSURANT,$81K-$140K
249,F&G,$83K-$148K
250,GREATAMERICA FINANCIAL SERVICES,$31K-$55K
251,ACCELERON PHARMA,$102K-$178K
252,AMERIHEALTH CARITAS,$48K-$85K
253,STRATEGIC EMPLOYMENT PARTNERS,$66K-$123K
254,CATHOLIC HEALTH INITIATIVES,$21-$29 Per Hou
255,FLEETCOR,$10-$17 Per Hou
256,APPLIED RESEARCH LABORATORIES,$82K-$129K(Employ
257,RAYTHEON,$49K-$76K
258,RTI INTERNATIONAL,$43K-$88K
259,TRANZACT,$124K-$199K
260,UNITED BIOSOURCE,$52K-$93K
261,FIGURE EIGHT,$97K-$181K
262,ROYCE GEOSPATIAL,$75K-$127K
263,CITI,$94K-$139K
264,SAGE INTACCT,$176K-$289K
265,SCALE AI,$92K-$149K
266,CHANGE HEALTHCARE,$118K-$188K
267,MZ,$108K-$146K
268,HG INSIGHTS,$65K-$106K
269,1-800-FLOWERS.COM,$55K-$98K
270,CBS INTERACTIVE,$94K-$162K
271,SAMSUNG RESEARCH AMERICA,$126K-$228K
272,"LORVEN TECHNOLOGIE,",$85K-$142K
273,CAREDX,$111K-$176K
274,SERIGOR,$87K-$140K
275,LEIDOS,$76K-$127K
276,BECKMAN COULTER DIAGNOSTICS,$54K-$92K
277,IHS MARKIT,$61K-$100K
278,ALIN,$81K-$140K
279,E-IT PROFESSIONALS CORP.,$108K-$171K
280,TECHPROJECTS,$112K-$179K
281,"BIZ2CREDI,",$63K-$111K
282,PEOPLESBANK,$75K-$126K
283,CAPGEMINI,$110K-$184K
284,GNY INSURANCE COMPANIES,$76K-$145K
285,CONCH TECHNOLOGIES,$70K-$118K
286,MEDIDATA SOLUTIONS,$94K-$153K
287,QUARTET HEALTH,$150K-$180K
288,SUCCESS ACADEMY CHARTER SCHOOLS,$42K-$77K
289,AXION HEALTHCARE SOLUTIONS,$47K-$85K
290,EXECONLINE,$56K-$95K
291,MTEQ,$62K-$112K
292,BRILLIENT,$64K-$108K
293,ENTEFY,$89K-$144K
294,TRACE3,$55K-$105K
295,"SAAMA TECHNOLOGIE,",$57K-$80K
296,TWO SIGMA,$129K-$215K
297,STRATEGIC FINANCIAL SOLUTIONS,$71K-$124K
298,"REMEDY BPCI PARTNERS,.",$69K-$121K
299,THE CLIMATE CORPORATION,$150K-$238K
300,CROSSIX SOLUTIONS,$77K-$132K
301,GSK,$62K-$119K
302,FACTUAL,$119K-$187K
303,TRINET,$90K-$157K
304,SIGNPOST,$32K-$62K
305,ADOBE,$116K-$208K
306,EQUIAN,$76K-$142K
307,INFORMATION BUILDERS,$91K-$159K
308,GREENWAY HEALTH,$27K-$48K
309,CONFLUENT,$130K-$206K
310,LIFE360,$99K-$178K
311,IQVIA,$86K-$137K
312,RIVERSIDE RESEARCH INSTITUTE,$61K-$126K
313,ICON HEALTH AND FITNESS,$33K-$61K
314,SHIPT,$44K-$86K
315,MONTE ROSA THERAPEUTICS,Employer Provided Salary:$100K-$135K
316,INTRAEDGE,$42K-$79K
317,COUNTRY FINANCIAL,$44K-$73K
318,MENTOR GRAPHICS,$72K-$142K
319,MAXAR TECHNOLOGIES,$74K-$137K
320,ICW GROUP,$57K-$109K
321,EXELIXIS,$59K-$116K
322,GRAND ROUNDS,$171K-$272K
323,"SPINS,",$65K-$126K
324,DTCC,$118K-$228K
325,CARILION CLINIC,$58K-$104K
326,DOUBLEVERIFY,$58K-$108K
327,MITSUBISHI ELECTRIC RESEARCH LABS,$81K-$161K
328,"RODAN AND FIELDS,",$61K-$110K
329,DESC,$32K-$57K
330,JOHNS HOPKINS HEALTH CARE,$79K-$136K
331,COMMUNITY BEHAVIORAL HEALTH,$50K-$89K
332,FORMA THERAPEUTICS,$27-$47 Per Hou
333,BRIDG,$71K-$135K
334,CHARTER SPECTRUM,$71K-$121K
335,COMPQSOFT,$72K-$121K
337,WEST COAST UNIVERSITY,$101K-$141K
338,SOFTBANK ROBOTICS,$79K-$127K
339,SKYSYNC,Employer Provided Salary:$120K-$140K
340,"DATAMANUSA,",$65K-$113K
341,23ANDME,$59K-$125K
342,FIVESTARS,$62K-$113K

In [17]:
df.to_csv('cleaned_glassdoor.csv', index=False)